Assume the type of avocado and price is random chance

Test Statistc: (Price of Organic Avocado) - (Price of Conventional Avocado)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np

In [15]:
avocadoData = pd.read_csv('avocado.csv')
avocadoData

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [54]:
conventional = avocadoData.loc[avocadoData['type'] == 'conventional', :]
organic = avocadoData.loc[avocadoData['type'] == 'organic']

In [31]:
observedTestStat = np.mean(conventional['AveragePrice'] - np.mean(organic['AveragePrice']))
observedTestStat

-0.4959590177573867

In [33]:
# randomly premute the datasample using .sample
avocadoData['AveragePrice'].sample(frac = 1)

17838    1.48
5591     0.79
9179     1.89
5670     1.11
10807    1.93
         ...
16648    1.62
9963     1.47
15345    1.63
9523     2.05
10620    2.14
Name: AveragePrice, Length: 18249, dtype: float64

In [35]:
# new set of indicies with old set of indicies
avocadoData['AveragePrice'].sample(frac = 1).reset_index()

       index  AveragePrice
0       7406          0.68
1        883          1.05
2       2327          1.11
3       4045          1.07
4      11135          1.03
...      ...           ...
18244  13640          1.62
18245  15659          2.21
18246  11948          1.68
18247   9970          2.02
18248   9444          1.59

[18249 rows x 2 columns]

In [36]:
# drops old indicies
avocadoData['AveragePrice'].sample(frac = 1).reset_index(drop = True)

0        1.30
1        1.33
2        1.25
3        1.30
4        1.06
         ...
18244    0.82
18245    1.81
18246    1.62
18247    1.82
18248    1.59
Name: AveragePrice, Length: 18249, dtype: float64

In [37]:
# permutes the data more than once
def perm(data):
    return data.sample(frac = 1).reset_index(drop = True)

In [49]:
simTestStat = np.array([])

reps = 10000

for i in range(reps):
    permInfo = perm(avocadoData['AveragePrice'])
    
    df = pd.DataFrame({'Permuted Duration' : permInfo, 'Type' : avocadoData['type']})
    
    conv = df.loc[df['Type'] == 'conventional', 'Permuted Duration']
    org = df.loc[df['Type'] == 'organic', 'Permuted Duration']
    
    stat = np.mean(conv) - np.mean(org)
    
    simTestStat = np.append(simTestStat, stat)
    
# randomizing the sample data and assigning types (Organic or Conventional)
# to the random data to see if there truly is a cooreltation with
# the data or not

In [52]:
df

       Permuted Duration          Type
0                   2.16  conventional
1                   1.10  conventional
2                   2.20  conventional
3                   0.89  conventional
4                   1.02  conventional
...                  ...           ...
18244               0.97       organic
18245               1.91       organic
18246               1.60       organic
18247               1.33       organic
18248               1.13       organic

[18249 rows x 2 columns]

In [50]:
simTestStat

array([ 0.00358398, -0.00142013, -0.00531075, ..., -0.00381368,
        0.0114288 ,  0.01099261])

In [51]:
pValue = np.count_nonzero(simTestStat <= observedTestStat) / reps
pValue

0.0

The pValue = 0, meaning,  approximately about zero percent of the 10,000 permuted samples of the data resulted in a test statstic with the same value of the observed test stastic or lower 

So basically, randomizing the the data does not give the same result as the data, meaning their is a coorelation  

We can now reject the null hypothesis